@model MasterStack.Models.BlogPost

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BlogPost</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CreatedAt" />
            <input type="hidden" asp-for="ImageUrl" /> @* Mantém a imagem atual se não mudar *@
            <div class="form-group">
                <label asp-for="Culture" class="control-label">Idioma/Cultura</label>
                <select asp-for="Culture" class="form-control">
                    <option value="pt-BR">Português</option>
                    <option value="en-US">English</option>
                    <option value="es-ES">Español</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            @* <div class="form-group mb-3">
                <label asp-for="CreatedAt" class="control-label">Data de Publicação</label>
                <input asp-for="CreatedAt" class="form-control" type="datetime-local" step="1" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div> *@
            <div class="form-group mb-3">
                <label class="control-label">Alterar Imagem (opcional)</label>
                <input type="file" name="foto" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
